.about_us_container {
}

.about_us_subject > h1 {
	text-align:center;
	color:#123F1E;
}

.about_us_content {
	color:#000000;
	padding: 20px;
	font-size: 14px;
	font-weight: bold;
	min-height: 768px;
	border: #123f1e solid 4px;
	background-color: #eef0d1;
}

#content {
}

/* menu */
#menu {
	background: url('../image/header_test2.png') no-repeat center top;
	margin-bottom: 15px;
	width: 980px;
	height: 340px;
	box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
}
#menu ul {
	list-style: none;
	padding-top: 260px;
	margin-left: 165px
}
#menu > ul > li {
	position: relative;
	float: left;
	z-index: 20;
	padding: 6px 25px 25px 0px;
	margin: 0px 20px;
}
.menu_label {
	font-size: 30px;
	font-family: birchstd;
}
.round_button {
	//background: url('../image/button_white.png');
	background-color: #eade92;
	-webkit-border-radius: 15px 15px 15px 15px;
	-moz-border-radius: 15px 15px 15px 15px;
	-khtml-border-radius: 15px 15px 15px 15px;
	border-radius: 15px 15px 15px 15px;
	border: 2px #123e1e solid;
	vertical-align: center;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}

.round_button:hover {
	background-color: #7d1a16;
	border: 2px #eade92 solid;
}

.round_button_subcat > div {
	padding: 5px;
	display: none;
	background: #FFFFFF;
	position: absolute;
	z-index: 5;
	border: 1px solid #000000;
	-webkit-border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	-khtml-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
	background: url('../image/menu.png');
}
.round_button_url:hover > .round_button_subcat {
	margin-top: 29px;
	display: table;
}
.round_button_subcat > div > ul {
	display: table-cell;
}
.round_button_subcat ul + ul {
	padding-left: 20px;
}
.round_button_subcat ul > li > a {
	text-decoration: none;
	padding: 4px;
	color: #FFFFFF;
	display: block;
	white-space: nowrap;
	min-width: 120px;
}
.round_button_subcat ul > li > a:hover {
	background: #000000;
}
.round_button_subcat > div > ul > li > a {
	color: #FFFFFF;
}

body {
	background-color: #eade92;
}

.menu-bc-container {
	margin-bottom: 300px;
}

.breadcrumb {
	color: #CCCCCC;
	margin-bottom: 10px;
	padding-left: 30px;
}

#contact-box {
	padding: 0 20px;
}

.address-box {
	width: 25%;
	float: left;
}
.map-box {
	width: 73%;
	float: left;
}

/* footer */ 
#footer {
	clear: both;
	overflow: auto;
	min-height: 100px;
	padding: 20px;
	border-top: 1px solid #DBDEE1;
	border-bottom: 1px solid #DBDEE1;
	background: #F8F8F8;
}
#footer ul {
	margin-top: 55px;
	padding-left: 160px;
}
#footer li {
	float: left;
	width: 33%;
}
.gplus-box {
	text-align: right;
	width: 50%;
	float: left;
}
.facebook-box {
	width: 50%;
	float: left;
}

.hidden {
	display: none;
}

.category-list ul li {
	list-style: none;
}





.product-list > div {
	overflow: auto;
	margin-bottom: 15px;
	background: url('../image/termek_box.png') no-repeat center top;
	width: 980px;
	height: 363px;
	position:relative;
}
.product-list .right {
	float: right;
	margin-left: 15px;
}
.product-list > div + div {
	border-top: 1px solid #EEEEEE;
	padding-top: 16px;
}
.product-list .image {
	position: absolute;
	margin: 10px;
	left: 160px;
	top: 110px;
}
.product-list .image img {
	padding: 3px;
	border: 1px solid #E7E7E7;
}
.product-list .name {
	margin: 10px;
	padding: 20px;
	position: absolute;
	left: 530px;
	top: 25px;
}
.product-list .name a {
	color: #38B0E3;
	font-weight: bold;
	text-decoration: none;
}
.product-list .description {
	line-height: 15px;
	margin-bottom: 5px;
	color: #4D4D4D;
	position: absolute;
	top: 80px;
	left: 560px;
	width: 200px;
}
.product-list .rating {
	color: #7B7B7B;
}
.product-list .price {
	height: 50px;
	margin-left: 8px;
	text-align: right;
	color: #333333;
	font-size: 12px;
	position: absolute;
	left: 550px;
	top: 200px;
}
.product-list .price-old {
	color: #F00;
	text-decoration: line-through;
}
.product-list .price-new {
	font-weight: bold;
}
.product-list .price-tax {
	font-size: 12px;
	font-weight: normal;
	color: #BBBBBB;
}
.product-list .cart {
	margin-bottom: 3px;
}
.product-list .wishlist, .product-list .compare {
	margin-bottom: 3px;
}
.product-list .wishlist a {
	color: #333333;
	text-decoration: none;
	padding-left: 18px;
	display: block;
	background: url('../image/add.png') left center no-repeat;
}
.product-list .compare a {
	color: #333333;
	text-decoration: none;
	padding-left: 18px;
	display: block;
	background: url('../image/add.png') left 60% no-repeat;
}
